name: Test

on:
  pull_request:
    paths:
      - .github/workflows/test.yml
      - App/**
      - SSLCertificateCheck.xcworkspace/**
      - SSLCertificateCheckPackage/**

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: macos-15

    env:
      DEVELOPER_DIR: /Applications/Xcode_26.2.app/Contents/Developer

    steps:
      - uses: actions/checkout@v6

      - name: Get SwiftPM originHash
        id: get-swiftpm-origin-hash
        run: |
          ORIGIN_HASH="$(jq -c -r '.originHash' SSLCertificateCheck.xcworkspace/xcshareddata/swiftpm/Package.resolved)"
          echo "ORIGIN_HASH=${ORIGIN_HASH}" >> "${GITHUB_OUTPUT}"

      - name: Cache Swift Packages
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        id: cache-swiftpm
        timeout-minutes: 20
        with:
          path: .swiftpm
          key: ${{ runner.os }}-swiftpm-${{ steps.get-swiftpm-origin-hash.outputs.ORIGIN_HASH }}

      - name: Write IDESkipPackagePluginFingerprintValidatation
        run: defaults write com.apple.dt.Xcode IDESkipPackagePluginFingerprintValidatation -bool YES

      - name: Write IDESkipMacroFingerprintValidation
        run: defaults write com.apple.dt.Xcode IDESkipMacroFingerprintValidation -bool YES

      - name: Make test-result folder
        run: mkdir -p test-results

      - name: Xcode test for InfoFeatureTests
        run: |
          set -o pipefail && \
            xcodebuild test \
              -scheme InfoFeatureTests \
              -workspace SSLCertificateCheck.xcworkspace \
              -parallel-testing-enabled=YES \
              -destination "platform=iOS Simulator,name=iPhone 16 Pro" \
              -resultBundlePath "test-results/Test-InfoFeatureTests.xcresult" \
              -clonedSourcePackagesDirPath .swiftpm \
              -disableAutomaticPackageResolution | xcpretty

      - name: Xcode test for LicenseFeatureTests
        run: |
          set -o pipefail && \
            xcodebuild test \
              -scheme LicenseFeatureTests \
              -workspace SSLCertificateCheck.xcworkspace \
              -parallel-testing-enabled=YES \
              -destination "platform=iOS Simulator,name=iPhone 16 Pro" \
              -resultBundlePath "test-results/Test-LicenseFeatureTests.xcresult" \
              -clonedSourcePackagesDirPath .swiftpm \
              -disableAutomaticPackageResolution | xcpretty

      - name: Xcode test for SearchFeatureTests
        run: |
          set -o pipefail && \
            xcodebuild test \
            -scheme SearchFeatureTests \
            -workspace SSLCertificateCheck.xcworkspace \
            -parallel-testing-enabled=YES \
            -destination "platform=iOS Simulator,name=iPhone 16 Pro" \
            -resultBundlePath "test-results/Test-SearchFeatureTests.xcresult" \
            -clonedSourcePackagesDirPath .swiftpm \
            -disableAutomaticPackageResolution | xcpretty

      - name: Xcode test for X509ParserTests
        run: |
          set -o pipefail && \
            xcodebuild test \
            -scheme X509ParserTests \
            -workspace SSLCertificateCheck.xcworkspace \
            -parallel-testing-enabled=YES \
            -destination "platform=iOS Simulator,name=iPhone 16 Pro" \
            -resultBundlePath "test-results/Test-X509ParserTests.xcresult" \
            -clonedSourcePackagesDirPath .swiftpm \
            -disableAutomaticPackageResolution | xcpretty

      #- uses: kishikawakatsumi/xcresulttool@v1
      #  if: success() || failure()
      #  with:
      #    path: |
      #      test-results/Test-InfoFeatureTests.xcresult
      #      test-results/Test-LicenseFeatureTests.xcresult
      #      test-results/Test-SearchFeatureTests.xcresult
      #      test-results/Test-X509ParserTests.xcresult
      #    show-passed-tests: false
